.Footer {
  font-size: 12px;
  padding: 3px;
}
.Footer .footer-link {
  color: #00214d;
  background-color: #e6f7f8;
  border: 1px solid #148596;
  border-radius: 15px;
  padding: 4px;
  letter-spacing: 2px;
  text-decoration: none;
}

.Footer .footer-link:hover {
  color: #148596;
  cursor: pointer;
}

.Footer .footer-author {
  color: #148596;
  text-decoration: none;
}

.Footer .footer-author:hover {
  cursor: pointer;
}
