.Footer {
  padding: 3px;
}
.Footer .footer-link {
  color: #00214d;
  background-color: #e4f4f9;
  border: 1px solid #037fc7;
  border-radius: 15px;
  font-size: 10px;
  letter-spacing: 2px;
  padding: 2px 14px;
  text-decoration: none;
}

.Footer .footer-link:hover {
  font-weight: bold;
  cursor: pointer;
}

.Footer .footer-author {
  color: #0568c4;

  text-decoration: none;
}

.Footer .footer-author:hover {
  cursor: pointer;
  font-weight: bold;
}

@media (orientation: portrait) {
  .Footer {
    padding: 7px;
  }
}

@media (orientation: landscape) {
  .Footer {
    padding: 0;
  }
}
