.Weather {
  margin: 0;
  padding: 0;
}

.Weather form {
  margin-bottom: 4px;
}

.Weather h1 {
  color: #0458b9;
  font-size: 34px;
  font-weight: bold;
}

.Weather h2 {
  font-size: 16px;
}

.Weather strong {
  color: #0458b9;
  font-size: 40px;
}
.Weather .units {
  color: #000;
  font-weight: bold;
  position: relative;
  font-size: 16px;
  top: -18px;
}

.Weather ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

.Weather li {
  display: block;
  font-size: 14px;
  line-height: 1;
  list-style: none;
}

@media (orientation: portrait) {
  .Weather li {
    font-size: 13px;
    font-weight: bold;
  }
}

@media (orientation: landscape) {
  .Weather h1 {
    font-size: 28px;
    margin-bottom: 0;
  }

  .Weather h2 {
    font-size: 14px;
  }

  .Weather p {
    font-size: 12px;
    line-height: 0.1;
  }

  .Weather strong {
    font-size: 22px;
  }
}
